.wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.wrapper .sidebar-header .user-info {
    float: left;
}

.wrapper .sidebar-header .user-info>span {
    display: block;
    color: #fff;
}

.wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}


/*-----------------------sidebar-search------------------------*/

.wrapper .sidebar-search>div {
    padding: 10px 20px;
}


/*-----------------------menu------------------------*/

a.nav-link {
    color: #fff;
}

.col-lg-4.col-md-12.col-sm-12 .form-group {
    display: inline-block;
    margin: 0 5px;
}

.col-lg-8.col-md-12.col-sm-12 .form-group {
    display: inline-block;
    margin: 0 5px;
}

.r-admin {
    float: right;
}

.both {
    clear: both;
}

tbody i.fas {
    margin: 0 5px;
}

i.fas.fa-info {
    color: #5cb85c;
}

i.fas.fa-pen {
    color: #2889da;
}

i.fas.fa-trash-alt {
    color: rgb(197, 23, 23);
}