img.product-image {
    width: auto;
    height: 450px;
}

div.product-single-page {
    margin: 30px 0;
}

img.card-img-top.img-product {
    margin: 20px 0;
}

.card.product-card {
    margin-top: 15px;
}