td.action a {
    margin: 0 5px;
}

td.action a:hover {
    text-decoration: none;
}

td.action a.fas.fa-trash-alt {
    color: #454545;
}

table.table.table-bordered {
    margin: 20px 0;
}

.container {
    margin-top: 40px;
}