<div class="container">
    <div *ngIf="ktra(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3>Your Cart</h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product">
                            <td>
                                <a class="titleproduct" [routerLink]="['/product',item.id]">{{item.productname}}</a>
                            </td>
                            <td>${{item.price | number}}</td>
                            <td>
                                <button type="button" (click)='giamsl(item.id)' class="btn btn-danger btn-sm">-</button>
                                <span class="quantity" width="18px">{{item.quantity}}</span>
                                <button type="button" (click)='tangsl(item.id)' class="btn btn-success btn-sm">+</button>
                            </td>
                            <td>
                                ${{item.quantity*item.price | number}}
                            </td>
                            <td class="functioncartpage">
                                <a class="btn btn-warning btn-sm" [routerLink]="['/product',item.id]">View</a>
                                <button class="btn btn-danger btn-sm" (click)='DeleteItem(item.id)'>Delete</button>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3">Subtotal</td>
                            <td><b>${{tongtien()|number}}</b></td>
                            <td>
                                <button class="btn btn-warning" [routerLink]="['/thanhtoan']">Thanh toán</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h2>Your cart is empty, please back to the product page</h2>
                <a [routerLink]="['/home']" class="btn btn-success">Back to product page</a>
            </div>
        </div>
    </ng-template>

</div>