div.clear {
    clear: both;
}

div.product {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

div.images-product img {
    width: 20%;
    height: auto;
    float: left;
}

div.detail-product {
    float: right;
    width: 80%;
}

a.title-product {
    color: #ff7804;
    font-size: 23px;
    text-decoration: none;
}

div.price-product {
    color: #c31111;
}